<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppCoder</title>
</head>
<body>

    <style>
        h1{color: greenyellow;}
        body{background: fixed color(srgb rgb(148, 76, 76) green blue);}
    </style>

    <h1> 

        {% block titulo %}
        {% endblock titulo %}
        
    </h1>

      {% block contenido %}
      {% endblock contenido %}

      {% block footer %}
        Hecho en clase de CoderHouse
      {% endblock footer %}

    
</body>
</html>